<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>All jobs</title>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <nav class="debug">
        <ul>
            <li><a href="/" title="Home">Home</a></li>
        </ul>
    </nav>
    <main class="content">
        <ul>
        {{ range . }}
            <li>{{ .Title }} — {{ .School }}</li>
        {{ end }}
        </ul>
    </main>
    <footer class="debug small-text">
        &copy;2024
    </footer>
</body>

</html>