{{ range . }}
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- N.B. title, school, location, hours, salary, description, detailsUrl, closingDate -->

    <meta charset="utf-8">
    <title> {{ .title }} (XX)</title>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <nav class="debug">
        <ul>
            <li><a href="/" title="Home">Home</a></li>
        </ul>
    </nav>
	<!-- N.B. title, school, location, hours, salary, description, detailsUrl, closingDate -->
    <main class="content">
        <h1>Job title</h1>
        <h4>School</h4>
        <p>Location</p>
        <ul>
            <li>Hours</li>
            <li>Salary</li>
            <li>Description</li>
            <li>Closes: CLOSING</li>
        </ul>
        <p>
            <a href="http://#">URL HERE</a>
        </p>
    </main>
    <footer class="debug small-text">
        &copy;2024
    </footer>
</body>

</html>