<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB# {{ .ID }}</title>
    <!-- <link rel="stylesheet" href="assets/style.css"> -->
    <link rel="stylesheet" href="file:///Users/owen/go-scraper/assets/style.css">
</head>

<body>
    <nav class="debug">
        <ul>
            <li><a href="/" title="Home">Home</a></li>
        </ul>
    </nav>
    <main class="content">
        <h2>{{ .Title }}</h2>
        <h4>{{ .School }}</h4>
        <table class="regular-text">
            <tr>
                <th>Location</th>
                <td>{{ .Location }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ .Hours }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ .Salary }}</td>
            </tr>
            <tr>
                <th>Closes</th>
                <td>{{ .ClosingDate }}</td>
            </tr>
        </table>
        <p class="small-text">{{ .Description }}</p>
        <p>
            <a href="{{ .DetailsUrl }}">View full details</a> &#x2197;
        </p>
    </main>
    <footer class="small-text">
        &copy;2024
    </footer>
</body>

</html>